@import '../../styles/vars.sass'
@import '../../styles/mixins.sass'

.slider-navigation
  display: flex
  gap: 30px

  & .arrow
    width: 100px
    cursor: pointer
    @include sm-down
      width: 80px

    &.previous
      rotate: 180deg
    & *
      transition: all 0.1s
      stroke: $gray
    &:hover *
      stroke: $white
