@import '../../styles/vars.sass'

.section-title
  text-transform: uppercase
  &__title
    font-family: Masvol
    font-size: 100px
    color: $white
    padding-bottom: 5px
  &__translation
    font-family: Raleway
    font-size: 30px
    color: $dark-gray
    transform: translateY(-30%)
