@import '../../styles/vars.sass'
@import '../../styles/mixins.sass'

.profile
  overflow: hidden

  @include xl-down
    margin-bottom: 50px

  @include lg-down
    margin-bottom: 120px
  @include sm-down
    margin-bottom: 0
    padding-bottom: 30px
  @include xs-down
    padding-bottom: 220px

  & > .wrapper
    flex-direction: column
    align-items: center
    @include lg-down
      padding-left: 0
      padding-right: 0
    @include sm-down
      text-align: center
    @include xs-down
      max-height: 500px
  &__title
    font-family: Masvol
    font-size: 120px
    letter-spacing: 3px
    color: $white
    text-transform: uppercase

    transform: translate(30px, 55%)

    position: relative
    z-index: 1

    @include xl-down
      transform: translate(10px, 55%)
      font-size: 90px

    @include lg-down
      font-size: 70px
    @include md-down
      font-size: 65px
      margin-bottom: 30px
    @include xs-down
      font-size: 55px

  &__img
    width: 800px
    animation: 3s linear profile-img-scroll
    animation-play-state: paused
    animation-delay: calc(var(--scroll) * -2.3s)
    @include xl-down
      width: 600px
    @include lg-down
      width: 500px
    @include md-down
      width: 380px
    @include sm-down
      animation: none
      padding-bottom: 45px
    @include xs-down
      padding-bottom: 60px
    &-wrapper
      position: relative

  &__badge
    position: absolute
    right: -100px
    top: 130px
    width: 200px
    height: 200px
    display: flex
    align-items: center
    justify-content: center
    @include md-down
      width: 150px
      height: 150px
      right: -75px
    @include sm-down
      display: none

    &__bottom
      display: none
      width: 200px
      height: 200px
      @include sm-down
        display: flex
        align-items: center
        justify-content: center

    &__flag
      width: 80px
      @include md-down
        width: 65px
      &__bottom
        @include sm-down
          width: 60px
        @include xs-down
          width: 50px
          position: relative

    &__title
      position: absolute
      left: 0
      top: 0

      width: 200px
      height: 200px
      animation: rotate 2s linear infinite
      animation-play-state: paused
      animation-delay: calc(var(--scroll) * -3s)
      @include md-down
        width: 150px
        height: 150px
      &__bottom
        position: absolute
        width: 200px
        height: 200px
        animation: rotate 2s linear infinite
        animation-play-state: paused
        animation-delay: calc(var(--scroll) * -3s)
        @include sm-down
          width: 150px
          height: 150px
        @include xs-down
          width: 120px
          height: 120px

  @keyframes rotate
    to
      transform: rotate(-360deg)

  @keyframes profile-img-scroll
    from
      transform: translateY(0%)
    to
      transform: translateY(-300%)

  @keyframes profile-img-none
    from
      transform: translateY(0%)
    to
      transform: translateY(0%)
