@import '../../styles/vars.sass'

.profile
  padding-top: 30px
  & .wrapper
    flex-direction: column
    align-items: center
  &__title
    font-family: Masvol
    font-size: 120px
    letter-spacing: 10px
    color: $white
    text-transform: uppercase

    transform: translate(30px, 55%)

    position: relative
    z-index: 1
  &__img
    width: 800px
    height: 937.11px
    animation: 3s linear profile-img-scroll
    animation-play-state: paused
    animation-delay: calc(var(--scroll) * -2.3s)
    &__wrapper
      height: 850px
  &__badge
    position: absolute
    left: 1178px
    top: 450px
    height: 0
    &__flag

      transform: translate(180%, -75%)
      width: 80px
    &__title

      width: 200px

      animation: rotate 2s linear infinite
      animation-play-state: paused
      animation-delay: calc(var(--scroll) * -3s)

  @keyframes rotate
    to
      transform: rotate(-360deg)

  @keyframes profile-img-scroll
    from
      transform: translateY(0%)
    to
      transform: translateY(-300%)
