@import '../../styles/vars.sass'
@import '../../styles/mixins.sass'

.list
  text-transform: uppercase
  margin-bottom: 230px
  @include xl-down
    margin-bottom: 300px
  @include lg-down
    margin-bottom: 170px

  & .wrapper
    flex-direction: column
    gap: 30px
  &__title
    text-align: center
    font-family: Georgia
    font-size: 50px
    line-height: 35px

    margin-bottom: 50px
    @include xl-down
      font-size: 40px
    @include lg-down
      font-size: 33px
      margin-bottom: 30px
    @include md-down
      font-size: 30px
    @include sm-down
      font-size: 25px

  &__item
    display: flex
    justify-content: space-between
    position: relative

    font-family: Raleway
    font-size: 20px

    @include md-down
      font-size: 18px
      text-align: right
      line-height: 25px
    @include sm-down
      text-align: right
      line-height: 25px
      padding-right: 35px
    @include xs-down
      font-size: 13px

    &-number
      font-size: 27px

      text-align: center

      border: 2px solid $dark-gray
      width: 35px
      min-width: 35px
      height: 35px
      min-height: 35px

    &-value
      padding-top: 20px
      @include xs-down
        padding-top: 10px

.line-animation
  &::before
    content: ""
    position: absolute
    background: $dark-gray
    height: 2px
    animation: line-in 2s ease-in
    animation-fill-mode: forwards

    @keyframes line-in
      0%
        width: 0px

      100%
        width: 100%
