@import '../../styles/mixins.sass'

.collapsible-list
  padding-top: 30px
  margin-bottom: 135px
  @include lg-down
    padding-top: 10px
    margin-bottom: 110px

  & .wrapper
    flex-direction: column
    gap: 30px
