@import '../../styles/vars.sass'
.header
  font-family: Raleway
  font-size: 20px
  color: $gray
  text-transform: uppercase

  padding: 30px 0

  &__logo
    width: 270px

  &__nav
    display: flex
    gap: 30px
    &-item
      transition: all 0.3s
      color: $gray
      text-decoration: none
      &:hover
        color: $white
