@import '../../styles/vars.sass'
.footer
  font-family: Raleway
  font-size: 18px
  color: $gray
  text-transform: uppercase

  padding: 30px 20px
  background-color: $darkest-gray

  &__logo
    width: 270px

  &__nav
    transition: all 0.3s
    display: flex
    gap: 30px

  &__up

    color: $white
    display: flex
    align-items: center
    gap: 10px
    text-decoration: none
    &-img
      width: 15px
