@import '../../styles/vars.sass'
@import '../../styles/mixins.sass'

.review-slider
  padding-top: 70px
  margin-bottom: 180px
  overflow: hidden
  @include lg-down
    padding-top: 50px
    margin-bottom: 170px

  & .section-title
    margin-bottom: 10px

  & .wrapper
    display: flex
    flex-direction: column
    & .slider-wrapper
      display: flex
      flex-direction: column
      overflow: hidden
      gap: 60px
      width: 150%

  & .slider-navigation
    transform: translate(80%, -2590%)
    @include lg-down
      transform: translate(35%, -2800%)
      margin: 20px 0

  & .swiper
    margin-left: 0px
    width: 66.65%
    height: 100%
    overflow: visible
    @include lg-down
      height: 700px
    & .swiper-slide
      margin-top: 30px

    & .swiper-scrollbar
      display: none
