@import '../../styles/vars.sass'

.review-slider
  padding-top: 130px
  margin-bottom: 300px
  overflow: hidden

  & .wrapper
    display: flex
    flex-direction: column
    & .slider-wrapper
      display: flex
      flex-direction: column
      overflow: hidden
      gap: 60px
      width: 150%

  & .slider-navigation
    transform: translate(159%, -2490%)

  & .swiper
    margin-left: 0px
    width: 560px
    height: 560px
    overflow: visible

    & .swiper-img
      height: 560px
    & .swiper-scrollbar
      display: none
