@import '../../styles/vars.sass'
@import '../../styles/mixins.sass'

.review-slider
  padding-top: 210px
  margin-bottom: 280px
  overflow: hidden
  @include lg-down
    margin-bottom: 170px

  & .wrapper
    display: flex
    flex-direction: column
    & .slider-wrapper
      display: flex
      flex-direction: column
      overflow: hidden
      gap: 60px
      width: 150%

  & .slider-navigation
    transform: translate(80%, -2590%)

  & .swiper
    margin-left: 0px
    width: 66.65%
    height: 560px
    overflow: visible

    & .swiper-img
      height: 560px
    & .swiper-scrollbar
      display: none
