@import '../../styles/vars.sass'
@import '../../styles/mixins.sass'

.contacts
  font-family: Raleway
  padding-top: 75px
  margin-bottom: 180px
  @include sm-down
  padding-left: 30px

  &__wrapper
    display: flex
    justify-content: space-between
    width: 100%
    @include lg-down
      flex-direction: column
      gap: 30px
  & > .wrapper
    flex-direction: column
    gap: 30px
  & .sns
    display: flex
    align-items: center
    justify-content: space-between
    gap: 90px
    @include md-down
      flex-direction: column
      align-items: flex-start
      gap: 20px
      padding-bottom: 20px

    &__icon
      cursor: pointer
      width: 50px
      &-list
        display: flex
        gap: 10px
      & *
        transition: all 0.5s
        fill: $black
      &:hover *
        fill: $white
        stroke: $black

    &__phone
      display: flex
      justify-content: end
      flex-direction: column
      gap: 50px
      @include lg-down
        flex-direction: row
        justify-content: space-between
        align-items: center
      @include md-down
        flex-direction: column
        align-items: flex-start
        gap: 30px
      &-button
        cursor: pointer
        color: $white
        font-family: Georgia
        font-size: 30px
        text-transform: uppercase
        background-color: $black
        border: 1px solid $white
        padding: 15px
        padding-right: 60px
        position: relative
        @include xs-down
          font-size: 25px

        & > span
          position: relative
          z-index: 1
        &::before
          content: ""
          position: absolute
          top: 0
          left: 0
          pointer-events: none
          background-color: $black
          height: 100%
          width: 0
          transition: all 1s

        &:hover
          color: $black
          &::before
            background-color: $white
            width: 100%

  & .paragraph
    font-size: 20px
    line-height: 30px
    text-align: justify
    max-width: 500px
    @include sm-down
      max-width: 430px
      font-size: 18px
      text-align: left

    &__wrapper
      margin-bottom: 67px

    &:not(:last-child)
      margin-bottom: 20px

    &__big
      font-size: 35px
      text-transform: uppercase
      display: flex
      align-items: end
      @include sm-down
        font-size: 30px
